<!DOCTYPE html>

<html>

    <head>
        <title> 404 </title>
        <link rel = "icon" href = "/IMG/weather.png">
        <link rel = "stylesheet" href = "./CSS/Styles.css">
    </head>

    <body>

        <div class = "main-content">
            {{!-- > character denotes loading a partials. Then just include the partials file name --}}
            {{>header}}

            <p> {{errorMessage}} </p>
        </div>

        {{>footer}}
    </body>

</html>