<!DOCTYPE html>

<html>

    <head>
        <title> About </title>
        <link rel = "icon" href = "/IMG/weather.png">
        <link rel = "stylesheet" href = "./CSS/Styles.css">
    </head>

    <body>
        <div class = "main-content">
            {{!-- > character denotes loading a partials. Then just include the partials file name --}}
            {{>header}}

            <img class = "portrait" src = "./IMG/me.png">
        </div>
        
        {{>footer}}
    </body>

</html>